.accoutDiv{
    margin-top: 5px;
    margin-bottom: 5px;
}

.accountName{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.accountMany{
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}